<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azure Endpoint with Flask</title>
</head>
<body>
    <h1 style="color: mediumpurple; font-family: Shado">Azure Flask Endpoint 1</h1>
    <p2 style="color: #ff0066; font-family: Salem">
        Duo id nulla habemus. Sapientem quaerendum reprehendunt sed ea, quaestio salutandi in pri. An nam mollis dolorem urbanitas, quo augue quaerendum an. Qui partem aliquando cu. Cum reque ludus rationibus et.
        Eum purto persecuti interesset an, at legimus graecis ius, ea qui posse eirmod malorum. Mel at porro impedit argumentum. Ea sit mundi consulatu, mel eu possit vocibus. Qui essent dolorem tincidunt ut. Accusata omittantur has at, eam paulo persecuti in.
        Aliquam appetere vim te, cu assum nihil nam, ut fastidii invenire sea. Cu unum noster accusamus nec, ea quaeque dissentiet nec. In eripuit placerat usu, eum ad aliquid dissentias. Labore explicari argumentum ne sea, maiestatis consequuntur vix eu. Ex assum feugiat consulatu vel. Eu adhuc brute nemore pro, eripuit tractatos intellegam ut his.
        Prima tempor at sit. Eos prompta percipitur conclusionemque ex. Has lorem melius suscipiantur ut, his ex noluisse democritum. Cum et nostro ornatus vituperatoribus. Et mutat quaeque invenire mei, eos odio scripserit ea. Veri voluptua deserunt ea qui. Impedit consetetur mea et, vim errem facete posidonium ad.
    </p2>
</body>
</html>